<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="presentation-list-item.html">
<script type="text/javascript" src="../js/presentation-list.js"></script>


<dom-module id="presentation-list">
    <template>
        <style is="custom-style">
            .col {
                float: left;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                padding: 0 .75rem;
                min-height: 1px;
            }
            .col.s12 {
                width: 100%;
                margin-left: auto;
                left: auto;
                right: auto;
            }
            @media only screen and (min-width: 601px) {
                .col.m4 {
                    width: 33.3333333333%;
                    margin-left: auto;
                    left: auto;
                    right: auto;
                }
            }
        </style>
        <template is="dom-repeat" items="{{presentations}}">
            <presentation-list-item is="dom-repeat" name="presentation-list-item"
                        presentation="{{item}}"
                        class="col m4 s12"></presentation-list-item>
        </template>
    </template>
    <script>
    class PresentationList extends Polymer.Element {
        static get is() { return 'presentation-list'; }
        static get properties() {
            return {
                presentations: {
                    type: Object,
                    readOnly: false,
                    notify: true
                }
            }
        }
        constructor() {
            super();
            var presentationListModel = new PresentationListModel();
            presentationListModel.getList()
                .then(json => {
                    this.presentations = json
                },
                error => {
                    alert(error)
                });
        }
    }
    customElements.define(PresentationList.is, PresentationList);
    </script>
</dom-module>